<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!--  for lock  -->
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
<!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!--  1차 배포 알림  -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".Team6App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Team6"
        tools:targetApi="31">

        <!-- Kakao SDK configuration -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="${KAKAO_NATIVE_APP_KEY_MANIFEST}" />

        <!-- Kakao Login -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="oauth"
                    android:scheme="kakao${KAKAO_NATIVE_APP_KEY_MANIFEST}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.ui.main.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Team6">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.ui.lock.LockActivity"
            android:exported="false"
            android:theme="@style/Theme.Team6"
            />
<!--        <service-->
<!--            android:name=".data.datalocal.service.LockService"-->
<!--            android:exported="false"-->
<!--            android:foregroundServiceType="specialUse"-->
<!--            android:permission="android.permission.FOREGROUND_SERVICE"/>-->
<!--        <service-->
<!--            android:name=".data.datalocal.service.FcmService"-->
<!--            android:enabled="true"-->
<!--            android:exported="false"-->
<!--            android:stopWithTask="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.MESSAGING_EVENT"/>-->
<!--            </intent-filter>-->
<!--        </service>-->
        <receiver
            android:name=".presentation.ui.alarm.NotificationReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>