name: Team6 CI
on:
  pull_request:
    branches: [ develop, main ]

defaults:
  run:
    shell: bash
    working-directory: .

jobs:
  build:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Gradle cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'temurin'

      - name: Change gradlew permissions
        run: chmod +x ./gradlew

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Touch local properties
        run: touch local.properties

      - name: Debug Base64 Decoding
        run: |
          echo "$FIREBASE_SECRET" | base64 --decode || echo "Base64 Decode Failed"

      # β… google-services.json λ³µμ› (base64 λ””μ½”λ”©)
      - name: Decode google-services.json
        env:
          FIREBASE_SECRET: ${{ secrets.FIREBASE_SECRET }}
        run: |
          echo $FIREBASE_SECRET | base64 --decode > app/google-services.json
          ls -l app
          cat app/google-services.json | jq .

      # β… local.properties μƒμ„± λ° ν™κ²½ λ³€μ μ¶”κ°€
      - name: Access local properties
        env:
          BASE_URL: ${{ secrets.BASE_URL }}
          AMPLITUDE_API_KEY: ${{ secrets.AMPLITUDE_API_KEY }}
        run: |
          echo "dev.base.url=\"$BASE_URL\"" >> local.properties
          echo "amplitude.dev.api.key=\"AMPLITUDE_API_KEY\"" >> local.properties

      # β… Lint Check
      - name: Lint Check
        run: ./gradlew ktlintCheck -PcompileSdkVersion=34

      # β… Build with Gradle
      - name: Build with Gradle
        run: ./gradlew build -PcompileSdkVersion=34

      # β… μ„±κ³µ μ•λ¦Ό
      - name: Slack Notify - Success
        if: ${{ success() }}
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_COLOR: '#B7FF1D'
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_TITLE: 'β… PR Success β…'
          SLACK_USERNAME: DEPORMEET-TEAM6 π—
          SLACK_MESSAGE: 'PRμ΄ μ™„λ£λμ—μµλ‹λ‹¤! π†β€'

      # β μ‹¤ν¨ μ•λ¦Ό
      - name: Slack Notify - Failure
        if: ${{ failure() }}
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_COLOR: '#FF9254'
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_TITLE: 'β PR Failed β'
          SLACK_USERNAME: DEPORMEET-TEAM6 π—
          SLACK_MESSAGE: 'μ—λ¬λ¥Ό ν™•μΈν•΄ μ£Όμ„Έμ” π«¨'